{% extends "base.html.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="/css/error.css">
{% endblock %}

{% block content %}
    <div class="error-container error-{{ code|default('default') }}">
        <h1>{{ title }}</h1>
        <p>{{ message|nl2br }}</p>
        <p class="link-container">
            <a href="/" class="button">Back to activities</a>
        </p>
    </div>
{% endblock %}